$jumboSpacer:						72px;
$bigSpacer:							56px;
$largeSpacer:						48px;
$mediumSpacer:						24px;
$smallSpacer:						16px;
$tinySpacer:						8px;

$breakpoint-min:					320px;  /*mobile*/
$breakpoint-medium:					600px;  /*tablet*/
$breakpoint-large:					1280px; /*desktop */
$breakpoint-max:					1600px; /*large desktop - shouldnt really need to use */


$defaultTransitionTime:				.25s;

$navWidth:							275px;

$imgPath:							"../img/";

$defaultIconSize:					20px;