<div class="formItem">
  <div class="">
    <label class="" for="{{id}}">{{content}}</label>
    <input class="" type="text" id="{{id}}" name={{id}} {{#if required}}required{{/if}}/>
  </div>
  <br />
</div>
