<label class="" for="{{id}}">
  <input type="radio" id="{{id}}" name="{{group}}"/>
  <div class="radio-button__display">
    <span class="radio-button__outer">
      <span class="radio-button__inner"></span>
    </span>
    <span class="radio-pods__item__text">
      {{content}}
    </span>
  </div>
</label>
