html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

%center-text {
  text-align:center;
}

%bordered {
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

%max-height {
  height: 100%;
}

%max-width {
  width: 100%;
}

%max {
  @extend %max-height;
  @extend %max-width;
}

body {
  font-family: $base-font-family;
  background-color:#e0e0d1;
  color: #000;
  overflow-x: hidden;
}

h1 {
  @extend %center-text;
}

.error {
  color: $red;
}
