@mixin style-button() {
	padding: 0 $smallSpacer;
	background: $white;
	color: $primaryBlue;
	display: inline-block;
	border: none;
	border-radius: 2px;
	line-height: 36px;

	&:hover {
		background: $grey4;
	}

	&:disabled {
		color: $grey2;
		background: $grey4;

		&:hover {
			background: $grey4;
		}
	}
}

@mixin style-button--primary() {
	background: $primaryBlue;
	color: $white;
	display: inline-block;

	&:hover {
		background: lighten($primaryBlue, 5%);
	}
}

/* firefox fix to remove excess padding from buttons */
button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.button {
	@include style-button;
	@include transition(all $defaultTransitionTime linear);

	cursor: pointer;
	&:hover {
		text-decoration: none;
	}

	&--right {
		float: right;
	}

	@if mixin-exists(style-button--primary) {
		&--primary {
			@include style-button--primary;
		}
	}
}
