form {
  @extend %max;
  padding: 25px;
}

.form--max {
  @extend %max;
}

%form-item-width {
  @media screen and (max-width: $landscape-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $landscape-tablet) {
    width:50%;
  }
}

.formItem {
  @extend %form-item-width;
  float:left;
  display:block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.formRow {
}
