form input[type=radio] {
  visibility:hidden;
  position:absolute;
}

input:hover .radio-button__inner {
    @include scale(0.6);
    opacity: .5;
  }

  input:checked + .radio-button__display {
    font-weight: bold;

    .radio-button__outer .radio-button__inner {
      @include scale(1);
      background-color: $primaryBlue;
      opacity: 1;
    }

    .radio-button__outer {
      border: 2px solid $primaryBlue;
    }
  }

  input:focus  + .radio-button__display {
    .radio-button__outer .radio-button__inner {
      @include scale(1);
      opacity: 1;
      background-color: $primaryBlue;
    }
  }

  .radio-button__outer {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    border: 2px solid $grey2;
    border-radius: 50%;
    background-color: $white;
  }

  .radio-button__inner {
    @include transition(all $defaultTransitionTime ease-in-out);
    @include scale(0);
    display: block;
    opacity: 0;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 50%;
    background-color: $grey2;
    opacity: 0;
  }


.radio-button + .radio-button {
  margin-top: 0;
}
